{% extends 'base.html.twig' %}
{% block contenu %}
<h1>Cette page affichera la liste des stages proposés</h1>
<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">Nom Entreprise</th>
      <th scope="col">Formation</th>
      <th scope="col">Nom du Stage</th>
      <th scope="col">Lieu</th>
    </tr>
  </thead>
  <tbody>

    <tr class="table-light">
      <th scope="row"">
      <a href="{{path('prostages_entrepriseId',{'id':10})}}" class="nav-link">Entreprise 10</a>
      </td>
      <td class="table-light">
      <a class="nav-link" href="{{path('prostages_formationId',{id:537})}}">Formation 537</a>
      </td>
      <td class="table-light">
      <a class="nav-link" href="{{path('prostages_stageId',{id:69})}}">Stage 69</a>
      </td>
      <td class="table-light">Lieu</td>
    </tr>

    <tr class="table-light">
      <th scope="row"">
      <a href="{{path('prostages_entrepriseId',{'id':140})}}" class="nav-link">Entreprise 140</a>
      </td>
      <td class="table-light">
      <a class="nav-link" href="{{path('prostages_formationId',{id:537})}}">Formation 537</a>
      </td>
      <td class="table-light">
      <a class="nav-link" href="{{path('prostages_stageId',{id:315})}}">Stage 315</a>
      </td>
      <td class="table-light">Lieu</td>
    </tr>
    <tr class="table-light">
      <th scope="row"">
      <a href="{{path('prostages_entrepriseId',{'id':39})}}" class="nav-link">Entreprise 39</a>
      </td>
      <td class="table-light">
      <a class="nav-link" href="{{path('prostages_formationId',{id:8})}}">Formation 8</a>
      </td>
      <td class="table-light">
      <a class="nav-link" href="{{path('prostages_stageId',{id:11})}}">Stage 11</a>
      </td>
      <td class="table-light">Lieu</td>
    </tr>
    <tr class="table-light">
      <th scope="row"">
      <a href="{{path('prostages_entrepriseId',{'id':580})}}" class="nav-link">Entreprise 580</a>
      </td>
      <td class="table-light">
      <a class="nav-link" href="{{path('prostages_formationId',{id:1001})}}">Formation 1001</a>
      </td>
      <td class="table-light">
      <a class="nav-link" href="{{path('prostages_stageId',{id:42})}}">Stage 42</a>
      </td>
      <td class="table-light">Lieu</td>
    </tr>
  </tbody>
</table>
{% endblock %}
